body {
	font-family: $ff-primary;
	margin: 0;
	padding: 0;
}

.m-b {
	margin-bottom: $base-unit;
}

.m-b-05 {
	margin-bottom: $base-unit-half;
}

.m-t {
	margin-top: $base-unit;
}

.m-t-05 {
	margin-top: $base-unit-half;
}

.m-r {
	margin-right: $base-unit;
}

.m-r-05 {
	margin-right: $base-unit-half;
}

.m-l {
	margin-left: $base-unit;
}

.m-l-05 {
	margin-left: $base-unit-half;
}

.p-b {
	padding-bottom: $base-unit;
}

.p-b-05 {
	padding-bottom: $base-unit-half;
}

.p-r {
	padding-right: $base-unit;
}

.p-r-05 {
	padding-right: $base-unit-half;
}

.p-t {
	padding-top: $base-unit;
}

.p-t-05 {
	padding-top: $base-unit-half;
}

.p-l {
	padding-left: $base-unit;
}

.p-l-05 {
	padding-left: $base-unit-half;
}

.ta-c {
	text-align: center;
}

.container {
	max-width: $container-width;
	width: 100%;
	margin: 0 auto;
}

.logo {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.block-color {
	max-width: 400px;
	height: 400px;
	width: 100%;
}

input[type=range] {
	-webkit-appearance: none;

	&::-webkit-slider-runnable-track  {
		border-radius: 0;
		background-color: #ddd;
		height: 5px;
		width: 100%;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		border: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		margin-top: -4px;
	}

	&:focus {
		-webkit-appearance: none;
		outline: none;
	}
}

input.red {
	border-right: 1px solid darken(#ddd, 30%);

	&::-webkit-slider-thumb {
		background: #e74c3c;
	}
}

input.green {
	border-right: 1px solid darken(#ddd, 30%);

	&::-webkit-slider-thumb {
		background: #2ecc71;
	}
}

input.blue {
	&::-webkit-slider-thumb {
		background: #3498db;
	}
}





input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	background-color: pink;
	width: 10px;
	height: 20px;
}
